@font-face {
    font-family: 'Inter-Regular';
    src: url(/fonts/Inter-Regular.eot);
    src: url(/fonts/Inter-Regular.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Inter-Regular.woff) format('woff'),
    url(/fonts/Inter-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-Bold';
    src: url(/fonts/Inter-Bold.eot);
    src: url(/fonts/Inter-Bold.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Inter-Bold.woff) format('woff'),
    url(/fonts/Inter-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-LightBETA';
    src: url(/fonts/Inter-LightBETA.eot);
    src: url(/fonts/Inter-LightBETA.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Inter-LightBETA.woff) format('woff'),
    url(/fonts/Inter-LightBETA.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'Inter-Regular';
  margin: 0;
  padding: 0;
}
.wrap_mainPage {
  width: 100%;
  height: 100vh;
  background-color: #05060B;
  overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}
#fone {
  position: absolute;
  width: 100%;
}
#door {
  position: relative;
  left: -10px;
}
.main {
  width: 1290px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 85% 15%;
  height: 75vh;
  position: relative;
  top: 71px;
}
.enter_button {
    width: 341px;
    height: 52.9px;
    background: #FFFFFF;
    border-radius: 10px;
    font-size: 20px;
    line-height: 160%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.wrap_links {
  text-decoration: none;
  width: 341px;
}
#enter_in1 {
  position: relative;
  left: 10px;
}
.reg_button {
    width: 295px;
    height: 52.9px;
    left: 686px;
    top: 857.1px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #FFFFFF;
}
.lang {
  font-size: 20px;
  line-height: 160%;
  color: #FFFFFF;
  position: relative;
  top: 6px;
}
.choose_lang {
  width: 110px;
  height: 31px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  justify-self: end;
  top: 77px;
}
#flag {
    position: relative;
    top: 6px;
    left: 27px;
    cursor: pointer;
    height: 32px;
    width: 32px;
}
.welcome {
  font-size: 45px;
  line-height: 53px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  font-family: 'Inter-Bold';
  height: 60px;
  margin: 0;
  grid-column: 1 / 3;
}
.wrap_links2 {
  grid-column: 1 / 2;
  display: grid;
  width: 670px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px 33px;
}

.logo_mobile {
  display: none;
}
.wrap_download {
  width: 100%;
  height: 100vh;
  background: #080808;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.download {
  width: 630px;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}
#down_mob {
  display: none;
}
.text_down {
  font-size: 45px;
  font-family: 'Inter-Bold';
  line-height: 53px;
  letter-spacing: -0.02em;
  color: #F6DBA8;
  text-align: center;
  position: relative;
  top: 40px;
}
.cancel_act {
  width: 232px;
  height: 54px;
  border: 2px solid #808080;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 160%;
  color: #808080;
}
.general_links {
  text-decoration: none;
}
.wrap_down_logo {
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
}
.wrap_down {
  grid-row: 4 / 5;
  display: grid;
  justify-content: center;
}
.wrap_mistake {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #080808;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}
#img_for_mistake {
  width: 100%;
  position: absolute;
}
#mobile_mistake_img {
  display: none;
}
.text_mistake {
  font-size: 45px;
  line-height: 53px;
  font-family: 'Inter-Bold';
  text-align: center;
  letter-spacing: -0.02em;
  color: #F6DBA8;
  grid-column: 1 / 3;
  position: relative;
  top: 23px;
}
.reload {
  font-size: 20px;
  line-height: 160%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  width: 206px;
  height: 54px;
  cursor: pointer;
}
.report_problem {
  font-size: 20px;
  line-height: 160%;
  width: 250px;
  height: 30px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
  position: relative;
  top: 32px;
  display: flex;
  justify-content: end;
  cursor: pointer;
}
.mistake {
  position: relative;
  top: 80px;
  width: 470px;
  height: 50px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.wrap_enter {
  width: 100%;
  height: 100vh;
  background: #080808;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.enter {
  position: relative;
  top: -90px;
  height: 367px;
  width: 1290px;
  display: grid;
  grid-template-columns: 40% 50% 10%;
  grid-template-rows: repeat(3, 1fr);
}
.title_person {
  position: relative;
  top: 32px;
  font-size: 20px;
  line-height: 160%;
  color: white;
}
.no_reg {
  font-size: 20px;
  line-height: 160%;
  color: #808080;
  position: relative;
  top: -45px;
}
.enter_title {
  font-weight: 800;
  font-family: 'Inter-Bold';
  font-size: 50px;
  line-height: 130%;
  color: #F6DBA8;
}
.title_input {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  color: white;
}
.common_inputs {
  width: 280px;
  height: 54px;
  color: white;
  font-size: 20px;
  left: 425px;
  top: 439.08px;
  border: 2px solid #808080;
  box-sizing: border-box;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
}
.but_enter{
  position: relative;
  top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 121px;
  font-size: 20px;
  justify-content: center;
  cursor: pointer;
  border: none;
  line-height: 160%;
  color: #DDDDDD;
  height: 54px;
  background: #3F3F3F;
  border-radius: 10px;
}
.req_for {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}
.lang_title {
  font-size: 20px;
  line-height: 160%;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 50px;
  position: relative;
  top: 53px;
  width: 39px;
  left: 21px;
}
.welcome_to {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 90% 10%;
  height: 230px;
}
.form_enter {
  position: relative;
  top: -30px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.wrap_persons {
  width: 630px;
  height: 150px;
  display: grid;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  position: relative;
  top: -75px;
}
.each_person_for {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #F6DBA8;
  box-sizing: border-box;
  border-radius: 100%;
  height: 80px;
  cursor: pointer;
}
.wrap_title_input {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  grid-gap: 33px;
}
.wrap_each_person_for {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
#flag2 {
  position: relative;
  cursor: pointer;
  left: 36px;
  height: 35px;
  width: 35px;
}

.wrap_start {
  margin: 0;
  width: 100%;
  height: 100vh;
  background: #05060B;
  display: flex;
  justify-content: center;
}
.start {
  width: 1290px;
  display: grid;
  grid-template-rows: 94% 5%;
}
.wrap_map {
  mix-blend-mode: normal;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
  color: white;
  font-size: 16px;
  line-height: 160%;
  font-family: 'Inter-Bold';
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap_map:hover {
  background: #F6DBA8;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
  border: none;
}
.active_link {
  text-decoration: none;
}
.active_links_style {
  background: #F6DBA8;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: black!important;
  border: none !important;
}
.wrap_det {
  width: 40px;
  height: 40px;
  font-family: 'Inter-Bold';
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  justify-self: end;
  align-items: center;
  color: white;
  border-radius: 50%;
}
.wrap_det:hover {
  background: #F6DBA8;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
  border: none;
}
.high_block {
  height: 42px;
  position: relative;
  top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.low_block {
  display: grid;
  justify-content: end;
  align-items: end;
  position: relative;
  bottom: 30px;
}
.disabled_chat:hover {
  background-image: url("/images/Vector (2).svg") !important;
}
.disabled_chat {
  background-image: url("/images/Vector (1) — копия.svg");
  width: 46px;
  height: 40px;
  position: relative;
  display: block;
  background-repeat: no-repeat;
}
.started_chat {
  background-image: url("/images/Vector (2).svg") !important;
  width: 46px;
  height: 40px;
  position: relative;
  display: block;
  background-repeat: no-repeat;
}
.choose_location {
  position: absolute;
  margin-top: 50px;
  border-radius: 0px 15px 15px 15px;
  display: grid;
  grid-template-columns: 20% 80%;
  width: 740px;
  height: 414px;
  background: #ffffff;
}
.wrap_titles_location {
      display: grid;
      justify-content: center;
      height: 385px;
      position: relative;
      top: 30px;
      left: -14px;
}
.titles_location {
  font-size: 18px;
  line-height: 99.18%;
  color: black;
  height: 25px;
  z-index: 1000;
  position: relative;
}
.wrap_map_img {
  margin: 0;
  display: grid;
  align-items: center;
}
.wrap_all_details {
  width: 270px;
  height: 310px;
  background: #ffffff;
  border-radius: 15px 0px 15px 15px;
  display: flex;
  justify-content: center;
  position: absolute;
  grid-column: 2 / 3;
  margin-top: 51px;
  left: 373px;
}

.all_details {
  display: grid;
  height: 259px;
  position: relative;
  top: 31px;
}
#choose_lang2 {
  top: 22px;
  position: relative;
  z-index: 1000;
}
.detail_link {
  font-size: 18px;
  line-height: 99.18%;
  color: #000000;
  width: 210px;
}
.wrap_chat {
  position: relative;
  width: 330px;
  height: 405px;
  background: #484848;
  top: -481px;
}
.chat_title {
  font-size: 16px;
  line-height: 99.18%;
  font-family: 'Inter-Bold';
  color: white;
  padding-left: 20px;
}
.share_cont {
      font-size: 16px;
      line-height: 99.18%;
      text-decoration-line: underline;
      color: #FFFFFF;
      width: 193px;
      left: -53px;
      position: relative;
}
.message {
  width: 201.48px;
  height: 74px;
  display: grid;
  justify-self: center;
  align-items: center;
  font-size: 16px;
  color: black;
  line-height: 140%;
  background: #F0F0F0;
  border-radius: 10px 10px 10px 0px;
  padding-left: 20px;
}
.wrap_chat_input {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 330px;
      height: 50px;
      background: #FFFFFF;
      position: relative;
      top: 200px;
      grid-column: 1 / 3;
}
.wrap_message {
      grid-column: 1 / 3;
      position: relative;
      top: 199px;
      width: 300px;
      padding-left: 20px;
}
.chat_input {
  position: absolute;
  width: 92%;
  color: black;
  height: 50px;
  border: none;
  left: 0;
  top: 0;
  font-size: 16px;
  padding-left: 25px;
}
.chat_input::placeholder {
  color: black;
  font-size: 16px;
}
input {outline:none;}
#send_but {
  position: relative;
  background: transparent;
  border: none;
  top: 4px;
  cursor: pointer;
  left: 129px;
  z-index: 999;
}
.chat_window {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.flags_field {
  width: 60px;
  display: none;
  height: 0px;
  background-color: #fafafa;
  grid-template-rows: repeat(3, 1fr);
  position: absolute;
  top: -117px;
  left: 90px;
  padding: 4px 0px;
  border-radius: 7px;
  transition: 0.4s;
}
.flags_field2 {
  width: 60px;
  display: none;
  height: 0px;
  background-color: #fafafa;
  grid-template-rows: repeat(3, 1fr);
  position: absolute;
  top: 24px;
  left: 88px;
  padding: 4px 0px;
  border-radius: 7px;
  transition: 0.4s;
}
.wrap_flags {
  display: flex;
  justify-content: center;
  align-items: center;
      margin: 0;
}
.showFlag {
  display: grid !important;
  height: 81px !important;
  transition: 0.4s;
}
.dif_flags {
  width: 28px;
  cursor: pointer;
}


@media (min-width: 1480px) and (max-width: 1580px) {
  #fone {
    width: 107%;
  }
}
@media (min-width: 1320px) and (max-width: 1480px) {
  #fone {
    height: 100vh;
    width: auto;
  }
}
@media (min-width: 992px) and (max-width: 1320px) {
  .main {
    width: 952px;
  }
  .text_mistake {
    font-size: 40px;
    line-height: 47px;
  }
  #fone {
    height: 100vh;
    width: auto;
  }
  .welcome {
    font-size: 46px;
    line-height: 130%;
  }
  #down_logo {
    display: none;
  }
  #down_mob {
    display: block;
  }
  .text_down {
    font-size: 40px;
    line-height: 47px;
    top: 20px;
  }
  .download {
    height: 100vh;
    overflow: hidden;
  }
  .enter {
    top: -130px;
    width: 980px;
  }
  .enter_title {
    font-size: 46px;
    line-height: 60px;
  }
  .title_input, .no_reg {
    line-height: 32px;
  }
  .lang_title {
    left: -5px;
    top: 46px;
  }
  .form_enter {
    position: relative;
    top: -101px;
  }
  .no_reg {
    position: relative;
    top: -31px;
    width: 250px;
    left: 429px;
  }
  .wrap_persons {
    grid-column: 1 / 3;
    position: relative;
    top: 24px;
  }
  .but_enter {
    top: 200px;
    width: 223px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .enter {
    width: 760px;
    top: -130px;
  }
  .enter_title {
    font-size: 35px;
    line-height: 45px;
  }
  .title_input, .no_reg, .common_inputs {
    line-height: 28px;
    font-size: 18px;
  }
  .lang_title {
    line-height: 28px;
    font-size: 18px;
    left: -27px;
    top: 25px;
  }
  .title_person {
    line-height: 28px;
    font-size: 18px;
  }
  .form_enter {
    position: relative;
    top: -119px;
  }
  .no_reg {
    position: relative;
    top: -25px;
    width: 211px;
    left: 552px;
  }
  .wrap_persons {
    grid-column: 1 / 3;
    position: relative;
    top: 24px;
  }
  .but_enter {
    top: 222px;
    width: 354px;
    line-height: 28px;
    font-size: 18px;
  }
}

@media (min-width: 720px) and (max-width: 992px) {

  #fone {
    width: auto;
    height: 100vh;
  }
  .flags_field {
    top: 28px;
    left: 83px;
  }
  .main {
    width: 720px;
  }
  .mistake {
    width: 432px;
  }
  .text_mistake {
    font-size: 35px;
    line-height: 41px;
  }
  .reload, .report_problem {
    font-size: 18px;
    line-height: 160%;
  }
  .reload {
    width: 191px;
    height: 51px;
  }
  .choose_lang {
    top: -4px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    left: -62px;
  }
  .welcome {
    font-size: 35px;
    line-height: 45px;
  }
  .lang {
    font-size: 18px;
    line-height: 29px;
  }
  .common_inputs {
        margin-left: 25px;
        width: 261px;
  }
  #down_logo {
    display: none;
  }
  #down_mob {
    display: block;
    width: 354px !important;
  }
  .text_down {
    font-size: 35px;
    line-height: 41px;
    top: 20px;
  }
  .download {
    height: 95vh;
    overflow: hidden;
  }
  .cancel_act {
    width: 215px;
    font-size: 18px;
    line-height: 160%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .enter {
    width: 566px;
    top: -130px;
  }
  #enter_meta {
    opacity: 0;
  }
  .enter_title {
    font-size: 35px;
    line-height: 45px;
  }
  .common_inputs {
        width: 261px;
        margin-left: 61px;
  }
  .lang {
    font-size: 18px;
    line-height: 29px;
  }
  .title_input, .no_reg {
    line-height: 32px;
    font-size: 18px;
  }
  .lang_title {
    left: -55px;
    top: 24px;
  }
  .form_enter {
    position: relative;
    top: -80px;
  }
  .no_reg {
    position: relative;
    top: -66px;
    width: 370px;
    left: 0px;
  }
  .wrap_persons {
    grid-column: 1 / 3;
    position: relative;
    top: 48px;
  }
  .title_person {
        width: 200px;
  }
  .wrap_persons {
        width: 570px;
  }
  .wrap_each_person_for {
        width: 582px;
  }
  .but_enter {
    top: 200px;
    width: 390px;
  }
}
@media (min-width: 576px) and (max-width: 920px) and (orientation: landscape) {
  .wrap_download {
    height: 160vh;
  }
  .download {
    overflow: visible !important;
    height: 123vh !important;
  }
}
@media (min-width: 576px) and (max-width: 720px) {
  #fone {
    width: auto;
    height: 100vh;
  }
  .main {
    width: 520px;
    height: 60vh;
    position: relative;
    top: 71px;
  }
  .choose_lang {
    top: -5px;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    left: -40px;
  }
  .welcome {
    font-size: 35px;
    line-height: 45px;
    grid-column: 1 / 2;
    width: 336px;
    position: relative;
    top: -33px;
  }
  .enter_button {
    position: relative;
    top: 11px;
  }
  .lang {
    font-size: 18px;
    line-height: 29px;
  }
  .wrap_links2 {
    grid-column: 1 / 3;
    width: 520px;
    grid-template-columns: 1fr;
  }
  #down_logo {
    display: none;
  }
  #down_mob {
    display: block;
    width: 314px !important;
  }
  .text_down {
    font-size: 35px;
    line-height: 41px;
    top: 20px;
  }
  .download {
    height: 95vh;
    overflow: hidden;
    width: 354px;
  }
  .cancel_act {
    width: 215px;
    font-size: 18px;
    line-height: 160%;
  }
}

@media (min-width: 992px) and (max-width: 1320px) {
  .start {
    width: 992px;
  }
  .choose_location {
    margin-top: 60px;
  }
  .wrap_all_details {
    margin-top: 60px;
    left: 225px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .start {
    width: 768px;
  }
  .choose_location {
    margin-top: 60px;
    width: 768px;
  }
  .wrap_all_details {
    margin-top: 60px;
    left: 114px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .start {
    width: 576px;
  }
  .flags_field {
    top: 28px;
    left: 83px;
  }
  .wrap_all_details {
    margin-top: 60px;
    left: 17px;
  }
  .choose_location {
    width: 425px;
    height: 560px;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 70%;
    margin-top: 60px;
  }
  .wrap_titles_location{
    display: grid;
    justify-content: center;
    height: 130px;
    position: relative;
    top: 45px;
    left: 36px;
    grid-template-columns: repeat(4, 1fr);
    width: 402px;
  }
  .wrap_map_img > img {
    width: 356px;
    height: 354px;
    position: relative;
    left: 34px;
    top: -14px;
  }
}

@media (min-width: 320px) and (max-width: 576px) and (orientation: landscape) {
  .wrap_download {
        height: 160vh;
  }
  .download {
    overflow: visible !important;
    height: 123vh !important;
  }
}
@media (min-width: 576px) and (max-width: 1320px) {
  #img_for_mistake {
    width: auto;
    height: 100vh;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .enter {
    width: 310px;
    top: 0px;
  }
  .flags_field {
    top: 28px;
    left: 74px;
  }
  .wrap_enter {
    align-items: flex-start;
    height: 846px;
  }
  #enter_meta {
    opacity: 0;
    display: none;
  }
  .enter_title {
        font-size: 30px;
        line-height: 39px;
        width: 100px;
        position: relative;
        top: 98px;
        left: 124px;
  }
  .common_inputs {
        width: 175px;
        margin-left: 106px;
  }
  .lang {
    font-size: 18px;
    line-height: 29px;
  }
  .title_input, .no_reg {
    line-height: 32px;
    font-size: 18px;
  }
  .lang_title {
    left: -78px;
    top: 24px;
    font-size: 18px;
    line-height: 28px;
  }
  .form_enter {
    position: relative;
    top: 31px;
  }
  .no_reg {
        position: relative;
        top: 48px;
        width: 280px;
        left: 19px;
        text-align: center;
  }
  .wrap_persons {
    grid-column: 1 / 3;
    position: relative;
    top: 160px;
    width: 307px;
  }
  .title_person {
        width: 200px;
        font-size: 18px;
        line-height: 28px;
  }

  .wrap_each_person_for {
        width: 307px;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0px 34px;
  }
  .but_enter {
    top: 312px;
    width: 280px;
    left: 15px;
  }

 #fone {
    width: auto;
    height: 148vh;
 }
 .logo {
   display: none;
 }
 .logo_mobile {
   display: block;
 }
 #img_for_mistake {
   display: none;
 }
 #mobile_mistake_img {
   display: block;
   width: 100%;
   position: absolute;
   top: -49px;
}
 .text_mistake {
    font-size: 30px;
    line-height: 35px;
    grid-column: 1 / 2
 }
 .reload, .report_problem {
   font-size: 18px;
   line-height: 160%;
 }
 .report_problem {
   width: auto;
 }
 .mistake {
   width: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
 }
 .reload {
   position: relative;
   top: 13px;
   left: 14px;
   width: 191px;
   height: 51px;
 }
 .main {
    width: 280px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 85% 15%;
    height: 61vh;
    position: relative;
    top: 71px;
 }
 .welcome {
   font-size: 20px;
   line-height: 130%;
   letter-spacing: 0;
   position: relative;
   top: -194px;
   width: 202px;
   text-align: center;
   left: 38px;
  }
   .wrap_links {
      width: 280px;
      position: relative;
      top: 10px;
   }
   .enter_button, .reg_button {
      width: 280px;
      margin: 9px 0px;
   }
   .wrap_links2 {
      grid-column: 1;
      display: grid;
      width: 280px;
      grid-template-columns: 1fr;
   }
   .enter_but {
     grid-column: 1 / 2;
   }
   .wrap_logo {
      display: grid;
      justify-content: center;
   }
   .choose_lang {
      width: 90px;
      top: -192px;
      left: -95px;
   }
   #flag {
     left: 17px;
   }
   #inside_delete_modileMeta {
     display: none;
   }
   #down_logo {
     display: none;
   }
   #down_mob {
     display: block;
     width: 280px !important;
   }
   .text_down {
     font-size: 30px;
     line-height: 35px;
     top: 20px;
   }
   .download {
     height: 95vh;
     width: 280px;
     overflow: hidden;
   }
   .cancel_act {
     width: 215px;
     font-size: 18px;
     line-height: 160%;
   }

     .start {
       width: 320px;
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       grid-template-rows: 1fr;
     }
     .high_block {
       width: 320px;
     }
     .low_block {
       display: flex;
       justify-content: center;
       align-items: end;
       position: relative;
       bottom: 0px;
       height: 40px;
       left: -119px;
       top: 36px;
     }
     .choose_location {
       margin-top: 60px;
       width: 320px;
       height: 560px;
       grid-template-columns: 1fr;
       grid-template-rows: 30% 70%;
     }
     .wrap_titles_location{
           display: grid;
           justify-content: center;
           height: 130px;
           position: relative;
           top: 45px;
           left: 36px;
           grid-template-columns: repeat(3, 1fr);
           width: 269px;
           grid-gap: 0px 28px;
     }
     .wrap_map_img > img {
       width: 252px;
       height: 341px;
       position: relative;
       left: 34px;
       top: -14px;
     }
     .titles_location {
       width: 50px;
     }
     .wrap_all_details {
        width: 320px;
        height: 310px;
        background: #ffffff;
        border-radius: 15px 0px 15px 15px;
        display: flex;
        justify-content: center;
        position: absolute;
        grid-column: 2 / 3;
        margin-top: 60px;
        left: -161px;
     }
     .all_details {
       width: 252px;
     }
     .wrap_chat {
       position: absolute;
       margin-bottom: 0;
       width: 320px;
       height: 430px;
       background: #484848;
       top: 201px;
       left: -201px;
     }
     .chat_title{
        font-size: 14px;
        width: 30px;
        position: relative;
        top: 6px;
     }
     .share_cont {
        font-size: 14px;
        left: -35px;
        position: relative;
        top: 5px;
     }
     .message {
        width: 181.48px;
        height: 74px;
        display: grid;
        justify-self: center;
        align-items: center;
        font-size: 14px;
        color: black;
        line-height: 140%;
        background: #F0F0F0;
        border-radius: 10px 10px 10px 0px;
        padding-left: 20px;
        padding-right: 15px;
     }
     .wrap_chat_input {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 318px;
        height: 50px;
        background: #FFFFFF;
        position: relative;
        top: 235px;
        grid-column: 1 / 3;
     }
     .chat_input, .chat_input::placeholder {
        font-size: 14px;
     }
     .wrap_message {
        top: 227px;
     }
}

