.wrap_start {
  margin: 0;
  width: 100%;
  height: 100vh;
  background: #05060B;
  display: flex;
  justify-content: center;
}
.start {
  width: 1290px;
  display: grid;
  grid-template-rows: 94% 5%;
}
.wrap_map {
  mix-blend-mode: normal;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
  color: white;
  font-size: 16px;
  line-height: 160%;
  font-family: 'Inter-Bold';
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap_map:hover {
  background: #F6DBA8;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
  border: none;
}
.active_link {
  text-decoration: none;
}
.active_links_style {
  background: #F6DBA8;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: black!important;
  border: none !important;
}
.wrap_det {
  width: 40px;
  height: 40px;
  font-family: 'Inter-Bold';
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  justify-self: end;
  align-items: center;
  color: white;
  border-radius: 50%;
}
.wrap_det:hover {
  background: #F6DBA8;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
  border: none;
}
.high_block {
  height: 42px;
  position: relative;
  top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.low_block {
  display: grid;
  justify-content: end;
  align-items: end;
  position: relative;
  bottom: 30px;
}
.disabled_chat:hover {
  background-image: url('../../public/images/Vector (2).svg') !important;
}
.disabled_chat {
  background-image: url('../../public/images/Vector (1) — копия.svg');
  width: 46px;
  height: 40px;
  position: relative;
  display: block;
  background-repeat: no-repeat;
}
.started_chat {
  background-image: url('../../public/images/Vector (2).svg') !important;
  width: 46px;
  height: 40px;
  position: relative;
  display: block;
  background-repeat: no-repeat;
}
.choose_location {
  position: absolute;
  margin-top: 50px;
  border-radius: 0px 15px 15px 15px;
  display: grid;
  grid-template-columns: 20% 80%;
  width: 740px;
  height: 414px;
  background: #ffffff;
}
.wrap_titles_location {
      display: grid;
      justify-content: center;
      height: 385px;
      position: relative;
      top: 30px;
      left: -14px;
}
.titles_location {
  font-size: 18px;
  line-height: 99.18%;
  color: black;
  height: 25px;
  z-index: 1000;
  position: relative;
}
.wrap_map_img {
  margin: 0;
  display: grid;
  align-items: center;
}
.wrap_all_details {
  width: 270px;
  height: 310px;
  background: #ffffff;
  border-radius: 15px 0px 15px 15px;
  display: flex;
  justify-content: center;
  position: absolute;
  grid-column: 2 / 3;
  margin-top: 51px;
  left: 373px;
}

.all_details {
  display: grid;
  height: 259px;
  position: relative;
  top: 31px;
}
#choose_lang2 {
  top: 22px;
  position: relative;
  z-index: 1000;
}
.detail_link {
  font-size: 18px;
  line-height: 99.18%;
  color: #000000;
  width: 210px;
}
.wrap_chat {
  position: relative;
  width: 330px;
  height: 405px;
  background: #484848;
  top: -481px;
}
.chat_title {
  font-size: 16px;
  line-height: 99.18%;
  font-family: 'Inter-Bold';
  color: white;
  padding-left: 20px;
}
.share_cont {
      font-size: 16px;
      line-height: 99.18%;
      text-decoration-line: underline;
      color: #FFFFFF;
      width: 193px;
      left: -53px;
      position: relative;
}
.message {
  width: 201.48px;
  height: 74px;
  display: grid;
  justify-self: center;
  align-items: center;
  font-size: 16px;
  color: black;
  line-height: 140%;
  background: #F0F0F0;
  border-radius: 10px 10px 10px 0px;
  padding-left: 20px;
}
.wrap_chat_input {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 330px;
      height: 50px;
      background: #FFFFFF;
      position: relative;
      top: 200px;
      grid-column: 1 / 3;
}
.wrap_message {
      grid-column: 1 / 3;
      position: relative;
      top: 199px;
      width: 300px;
      padding-left: 20px;
}
.chat_input {
  position: absolute;
  width: 92%;
  color: black;
  height: 50px;
  border: none;
  left: 0;
  top: 0;
  font-size: 16px;
  padding-left: 25px;
}
.chat_input::placeholder {
  color: black;
  font-size: 16px;
}
input {outline:none;}
#send_but {
  position: relative;
  background: transparent;
  border: none;
  top: 4px;
  cursor: pointer;
  left: 129px;
  z-index: 999;
}
.chat_window {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
