@media (min-width: 1480px) and (max-width: 1580px) {
  #fone {
    width: 107%;
  }
}
@media (min-width: 1320px) and (max-width: 1480px) {
  #fone {
    height: 100vh;
    width: auto;
  }
}
@media (min-width: 992px) and (max-width: 1320px) {
  .main {
    width: 952px;
  }
  .text_mistake {
    font-size: 40px;
    line-height: 47px;
  }
  #fone {
    height: 100vh;
    width: auto;
  }
  .welcome {
    font-size: 46px;
    line-height: 130%;
  }
  #down_logo {
    display: none;
  }
  #down_mob {
    display: block;
  }
  .text_down {
    font-size: 40px;
    line-height: 47px;
    top: 20px;
  }
  .download {
    height: 100vh;
    overflow: hidden;
  }
  .enter {
    top: -130px;
    width: 980px;
  }
  .enter_title {
    font-size: 46px;
    line-height: 60px;
  }
  .title_input, .no_reg {
    line-height: 32px;
  }
  .lang_title {
    left: -5px;
    top: 46px;
  }
  .form_enter {
    position: relative;
    top: -101px;
  }
  .no_reg {
    position: relative;
    top: -31px;
    width: 250px;
    left: 429px;
  }
  .wrap_persons {
    grid-column: 1 / 3;
    position: relative;
    top: 24px;
  }
  .but_enter {
    top: 200px;
    width: 223px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .enter {
    width: 760px;
    top: -130px;
  }
  .enter_title {
    font-size: 35px;
    line-height: 45px;
  }
  .title_input, .no_reg, .common_inputs {
    line-height: 28px;
    font-size: 18px;
  }
  .lang_title {
    line-height: 28px;
    font-size: 18px;
    left: -27px;
    top: 25px;
  }
  .title_person {
    line-height: 28px;
    font-size: 18px;
  }
  .form_enter {
    position: relative;
    top: -119px;
  }
  .no_reg {
    position: relative;
    top: -25px;
    width: 211px;
    left: 552px;
  }
  .wrap_persons {
    grid-column: 1 / 3;
    position: relative;
    top: 24px;
  }
  .but_enter {
    top: 222px;
    width: 354px;
    line-height: 28px;
    font-size: 18px;
  }
}

@media (min-width: 720px) and (max-width: 992px) {

  #fone {
    width: auto;
    height: 100vh;
  }
  .flags_field {
    top: 28px;
    left: 83px;
  }
  .main {
    width: 720px;
  }
  .mistake {
    width: 432px;
  }
  .text_mistake {
    font-size: 35px;
    line-height: 41px;
  }
  .reload, .report_problem {
    font-size: 18px;
    line-height: 160%;
  }
  .reload {
    width: 191px;
    height: 51px;
  }
  .choose_lang {
    top: -4px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    left: -62px;
  }
  .welcome {
    font-size: 35px;
    line-height: 45px;
  }
  .lang {
    font-size: 18px;
    line-height: 29px;
  }
  .common_inputs {
        margin-left: 25px;
        width: 261px;
  }
  #down_logo {
    display: none;
  }
  #down_mob {
    display: block;
    width: 354px !important;
  }
  .text_down {
    font-size: 35px;
    line-height: 41px;
    top: 20px;
  }
  .download {
    height: 95vh;
    overflow: hidden;
  }
  .cancel_act {
    width: 215px;
    font-size: 18px;
    line-height: 160%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .enter {
    width: 566px;
    top: -130px;
  }
  #enter_meta {
    opacity: 0;
  }
  .enter_title {
    font-size: 35px;
    line-height: 45px;
  }
  .common_inputs {
        width: 261px;
        margin-left: 61px;
  }
  .lang {
    font-size: 18px;
    line-height: 29px;
  }
  .title_input, .no_reg {
    line-height: 32px;
    font-size: 18px;
  }
  .lang_title {
    left: -55px;
    top: 24px;
  }
  .form_enter {
    position: relative;
    top: -80px;
  }
  .no_reg {
    position: relative;
    top: -66px;
    width: 370px;
    left: 0px;
  }
  .wrap_persons {
    grid-column: 1 / 3;
    position: relative;
    top: 48px;
  }
  .title_person {
        width: 200px;
  }
  .wrap_persons {
        width: 570px;
  }
  .wrap_each_person_for {
        width: 582px;
  }
  .but_enter {
    top: 200px;
    width: 390px;
  }
}
@media (min-width: 576px) and (max-width: 920px) and (orientation: landscape) {
  .wrap_download {
    height: 160vh;
  }
  .download {
    overflow: visible !important;
    height: 123vh !important;
  }
}
@media (min-width: 576px) and (max-width: 720px) {
  #fone {
    width: auto;
    height: 100vh;
  }
  .main {
    width: 520px;
    height: 60vh;
    position: relative;
    top: 71px;
  }
  .choose_lang {
    top: -5px;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    left: -40px;
  }
  .welcome {
    font-size: 35px;
    line-height: 45px;
    grid-column: 1 / 2;
    width: 336px;
    position: relative;
    top: -33px;
  }
  .enter_button {
    position: relative;
    top: 11px;
  }
  .lang {
    font-size: 18px;
    line-height: 29px;
  }
  .wrap_links2 {
    grid-column: 1 / 3;
    width: 520px;
    grid-template-columns: 1fr;
  }
  #down_logo {
    display: none;
  }
  #down_mob {
    display: block;
    width: 314px !important;
  }
  .text_down {
    font-size: 35px;
    line-height: 41px;
    top: 20px;
  }
  .download {
    height: 95vh;
    overflow: hidden;
    width: 354px;
  }
  .cancel_act {
    width: 215px;
    font-size: 18px;
    line-height: 160%;
  }
}
